.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: calc(100vw - 200px);
  height: calc(100vh - 200px); */
  background: linear-gradient(150deg, #6c776f, #454c63 100%, #282d39 0);
}

.auth-container {
  width: 420px;
  height: 292px;
  position: relative;
  /* top: calc(20vh - 144px - 100px); */
  /* left: calc(28vw - 230px - 100px); */
  background-color: #050a03;
  border-radius: 24px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.auth-form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
}

.auth-title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 26px;
}

.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #08090e;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #707079;
  color: white;
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.568);
}

.submit-button {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: #efeff5;
  color: rgb(90, 86, 86);
  outline: none;
}

.submit-button::hover {
  background-color: #938ffe;
}


@media (min-width: 610px) {
  .auth-container {
    width: 420px;
    height: 292px;   
    border-radius: 24px;
  }
}

@media (min-width: 768px) {
  .auth-container {
    width: 420px;
    height: 292px;  
    margin-left: 100px; 
  }
}

@media (min-width: 992px) {
  .auth-container {
    width: 420px;
    height: 292px;  
    margin-left: 190px; 
  }
}
@media (min-width: 1200px) {
  .auth-container {
    width: 420px;
    height: 292px;  
    margin-left: 280px; 
  }
}